body{
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items:flex-start;
    width: 90%;
    margin: auto;
    background-color: rgb(233, 229, 229);
    border-radius: 10px;
}

//=============================

.btn-to-top{
    position: fixed;
    bottom: 10px;
    right: 0;
    width: 50px;
    height: 30px;
    box-shadow: inset 0 0 10px 3px gray;
    color: rgb(19, 15, 12);
    border-color: gray;
    border-radius: 5px;
  }

//=============================

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 30px;
    background: grey;
    border-radius: 100px;
    bottom: 50px;
    right: 0;
    position: fixed;
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  input:checked + label {
    background: #08b116;
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 22px;
  }